<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universities</title>
</head>
<body>
<h1>Universities</h1>
<ul id="universities-list"></ul>

<script>
    async function fetchUniversities() {
        const response = await fetch("http://13.124.243.146:8080/api/cnu/universities");
        const universities = await response.json();

        const universitiesList = document.getElementById("universities-list");
        universities.forEach(university => {
            const listItem = document.createElement("li");

            const link = document.createElement("a");
            link.textContent = university.name;
            link.href = `.htmuniversity_detailsl?id=${university.id}`; // Link to details page

            listItem.appendChild(link);
            universitiesList.appendChild(listItem);
        });
    }

    fetchUniversities();
</script>
</body>
</html>
